.hearder-text{
    background-image: url(img-ject3/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75%;
    aspect-ratio: 11.83/4;
    text-align: left;
    position: relative;
    max-width: 300rem;
    background-position: 5%;
    width: fit-content;
}
.texts{
    color:rgb(7, 26, 1);
    padding: 6% 5%;
    width: 60%;
}
.contact-wrapper{
    position: relative;
    width: 100%;
    height: 37%;
}
.contact-box{
    position: absolute;
    top: -50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12rem;
    margin: 0 14%;
}
.contact-items{
    background-color: rgb(216, 215, 215);
    border-radius: 15px;
    height: 12.5rem;
    width: 12rem;
    position: relative;
    min-height: 12rem;
}
.icon-image{
    position: absolute;
    padding: 0.6rem;
    text-align: center;
    align-items: center;
    overflow-y: hidden;

}
.feedback-wrapper{
    text-align: center;
    position: relative;
}
.feedback-wrapper::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(img-ject3/dot3.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10%;
    z-index: -1;
}
.feedback{
    z-index: 1;
    padding: 17px;
    width: auto;
    height: auto;
    color: rgba(0, 0, 0, 0.829);  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.select_bar{
    width: 80%;
    height: 60px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.774);
    color: rgba(3, 3, 3, 0.918);
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    font-weight: lighter;
}
.personal-info{
    display: block;
    text-align: center;
}
.label_btn{
    padding: 1%;
    width: 8%;
    border-color: rgb(19, 19, 61);
    border-radius: 5px;
    background: var(--color-ligh_blue);
}
.map-wrapper{
    position: static;
}
.map{
   width: 100vw;
   aspect-ratio: 16/6;
   max-width: 300rem;}
.about{
    padding: 10px;
    position: relative;
}
.about-img{
    background-image: url(img-ject3/web-option-Recuperado-Recuperado-Recuperado-Recuperado-Recuperado.png);
    background-size: cover;
    max-width: 300rem;
    border-radius: 1.5rem;
    aspect-ratio: 15.6/6;
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.774);
    z-index: -1;
    position: relative;
    clip-path: polygon(27.17% 0%, 99.14% 0%, 100% 2%, 100% 75.43%, 99.14% 77.3%, 70.9% 77.3%, 69.62% 80.61%, 69.62% 98.24%, 69.06% 100%, 1.13% 100%, 0% 98.24%, 0% 8.67%, 0.29% 7%, 1.13% 5.76%, 25.58% 5.76%);
    ;}
.subicon-container{
    position: relative;
    
}
.sub-icon{
    position: absolute;
    width: 28.5%;
    aspect-ratio: 19/5;
    border-radius: 1rem;
    bottom: 0;
    float: right;
    right: 1%;
    top: -7rem;
    text-align: center;
    padding: 0.6rem;
    background-color: rgb(165, 106, 38);
    overflow: hidden;
    transition: 2s ease-in-out;
}
.alvd{
    font-weight: 900; 
    color: black;
}
.about-box-section{   
    padding: 3.75em;
    padding-right: 4.6875rem;
    padding-left: 4.6875rem;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
}
.about-box{
    background-image: url(img-ject3/box-content1.png);
    background-size: cover;
    background-color: rgb(192, 149, 108);
    aspect-ratio: 4/3;
    width: 20rem;
    border-radius: 1rem;
    position: relative;
}

.about-box1{
    background-image: url(img-ject3/box-content.png);
    background-size: cover;
    background-color: rgb(192, 149, 108);
    width: 50rem;
    aspect-ratio: 10/3;
    max-width: 300rem;
    border-radius: 1rem;
    position: relative;
}
.about-text{
    background-image: url(img-ject3/box1-content.png);
    background-size:contain ; 
    background-repeat: no-repeat;
    background-position-x: 80%;
    padding: 4.7em;
    height: auto;
    width: auto;
}
.sobre_nos{
    color:rgb(0, 128, 74); 
    font-size: 3rem; 
    font-weight: bold;
    text-transform: uppercase;
}
.textb{
    margin: 1rem;
    color: black;
    height: auto;
    width: 50%;
    max-width: 70%;
    position: relative;
}
.background{
    height: 80%;
    width: 100vw;
    position: relative;
    background-image: url(img-ject3/background.png);
    background-size: cover;
    background-repeat: no-repeat; 
}
.back-text{
    margin: 2.5rem;
    float: right;
    width: 50%;
    position: relative; 
}
.sol-graph{
    font-size: 2.2rem; 
    line-height:1.3; 
    font-weight: bold
}
.products{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: rem;
    position: relative;
    width: 100%;  
}
.products-items{
    text-align: center;
    margin: 3rem;
}
.products-img{
    height: 13rem;
    width: 10rem;
    background-color: aliceblue;
    border-radius: 1rem;
}
.product-container{
    position: relative;
}
.container-curved{
    position: relative;
    max-width: 300rem;
    margin: 10%;
}
.curved-items{
    display: flex;
    justify-content: flex-start;
    gap: 8rem;
    max-width: 300rem;
}
.curved-img{
    width: 50%;
    height: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10rem;
}
.curved-text{
    width: 100%;
    padding-top: 2rem;
}
.part-text{
    color: #00804A; 
    font-weight: lighter; 
    font-family: sans-serif; 
    font-size: 2.5rem;
}
.contact_us{
    font-size: 4rem; 
    color: #00804A
}
.input_text{
    caret: #00804A; 
    border: none; 
    height: 2.2rem; 
    border-radius: 5px; 
    width: 50%; 
    background-color: rgb(163, 162, 162); 
    color: #00804A; 
    padding: 6px; 
    outline: none;
}
.input_text1{
    caret: #00804A; 
    border: none; 
    height: 2.2rem; 
    border-radius: 5px; 
    width: 50%; 
    background-color: rgb(163, 162, 162); 
    color: #00804A; 
    padding: 6px;
}
.input_text2{
    caret: #00804A; 
    border: none; 
    height: 2.2rem; 
    border-radius: 5px; 
    width: 50%; 
    background-color: rgb(163, 162, 162); 
    color: #00804A; 
    padding: 6px;
}
.textarea_class{
    width: 60%; 
    height: 200px; 
    border-radius: 5px; 
    padding: 20px;
    color: rgb(1, 22, 10); 
    background-color: rgba(255, 255, 255, 0.1);
}
.float-container{
    z-index: 1;
}
.floater-items{
    display: flex;
    flex-direction: column; 
    gap: 0.3rem;
    position: fixed ;
    right: 1.4rem;
    top: 65%;
    z-index: 1;
}
.floater-icons{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 3.6rem;
    width: 3.6rem;
    box-shadow: 1px 1px 10px black;
}
.f-icon{
    transition: ease;
}

